frontend:
  replicaCount: 1
  image:
    repository: gcr.io/google-samples/microservices-demo/frontend
    tag: v0.10.0
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 80
    targetPort: 8080

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

ingress:
  enabled: false
  className: nginx
  host: online-boutique.local
  path: /
  pathType: Prefix

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 50